# Ignore system-specific files
.DS_Store

# Ignore environment-specific files
.env
.flaskenv
env/
venv/
.venv/

# Ignore compiled Python files
*.pyc
*.pyo

# Ignore distribution/build files
dist/
build/
*.egg
*.egg-info/

# Ignore testing and coverage files
.tox/
.cache/
.pytest_cache/
htmlcov/
.coverage
.coverage.*
*,cover

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore generated documentation and temporary files
docs/_build/
__pycache__/